//main variables
$primary-color: #8C6DED;
$primary-500: rgba(140, 109, 237,.5);
$secondary-color: #0C111E;
$default-color: #1C2334;
$bg-color: #171F30;
$text-color: #ffffff;


$light-color: rgba(255, 255, 255,1);
$light-50: rgba(255, 255, 255,.05);
$light-100: rgba(255, 255, 255,.1);
$light-200: rgba(255, 255, 255,.2);
$light-300: rgba(255, 255, 255,.3);
$light-500: rgba(255, 255, 255,.5);
$light-700: rgba(255, 255, 255,.7);

$dark-color: #000000;
$dark-20: rgba(0, 0, 0,.02);
$dark-100: rgba(0, 0, 0,.1);
$dark-200: rgba(0, 0, 0,.2);
$dark-300: rgba(0, 0, 0,.3);
$dark-500: rgba(0, 0, 0,.5);
$dark-800: rgba(0, 0, 0,.8);


$error-color: rgb(255, 67, 67);
$info-color: rgb(1, 17, 242);
$warning-color: rgb(255, 157, 0);
$success-color: #66CCAA;

/* text-size */
$h1-size: 2.5rem;
$h2-size: 2rem;
$h3-size: 1.7rem;
$h4-size: 1.4rem;
$h5-size: 1.25rem;
$h6-size: .95rem;
$p-size: 1rem;
$p-size-big: 1.1rem;
$p-size-small: .8rem;
